body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #111111;
}
h1,
h2,
p,
li {
  color: white;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background: #131313;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
